<div class="header">
<h1>LCARS</h1>
<%= javascript_tag do %>
  var array = [];
  <% @tasks.each do |task| %>
    array.push("<%= task.name %>")
  <% end %>
  var sortKeys = function(a, b){return b-a};
<% end %>
<div class="search">
<%= form_tag tasks_path, method: 'get' do %>
  <div class="searchField">
  <%= text_field_tag :term, params[:term] , class: 'input is-large typeahead'%>
  </div>
  <div class="searchButton">
  <button submit_tag = "Search" class="button" id="send">Search</button>
  </div>
<% end %>
</div>
</div>
<div class="analytics">
<div class="tasksCreated">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th colspan="1"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name.capitalize %></td>
        <td><%= link_to '', task, class: "fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="newTask">
<%= link_to 'New Task', new_task_path, class: "button is-small is-warning is-outlined" %>
</div>
</div>


<div class="mostSearchedQuestion">
<table id="orderSearch" class="display">
  <thead>
    <tr>
      <th>Most Searched Question</th>
      <th colspan="1">How Many ?</th>
    </tr>
  </thead>

<tbody id="searched">
<% $redis.keys.each do |key| %>
  <tr>
    <td><%= key %></td>
    <td><%= $redis.get(key) %></td>
  </tr>
  <% end %>
</tbody>
</table>
<button type="button" id="eraseRedis" class="button is-danger" >Clear All Analytics</button>
</div>

</div>