/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import "font-awesome";
.html, .body {
	 font-family: 'Open Sans', sans-serif;
}
.search {
	  margin: 0 auto;
	  width: 600px;
	  font-family: 'Open Sans', sans-serif;
}

.searchButton .button {
	float: left;
	margin: 0 auto;
}

.searchField .input{
	width: 600px;
	height: 70px;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	font-size: 2em;
	float: left;
	margin-top: 70px;
}

.header {
	width: 100%;
	height: 350px;
	border-bottom: 1px solid #ccc;
}

.header h1 {
	font-size: 3em;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	background: -webkit-linear-gradient(#6fc8df, #75c1a0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Open Sans', sans-serif;
}

.tasksCreated {
	width: 400px;
	float: left;
	margin-top: 30px;
	padding: 10px;
	border-radius: 5px;
	background-color: #eafd89;
	text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
}

.tasksCreated #newTask {
	margin-top: 5px;
}

.tasksCreated #newTask .button {
	color: black;
	border-color: #fff;
}

.searchButton .button {
	width: 100%;
}

.analytics {
	width: 850px;
	max-width: 900px;
	margin: 0 auto;
	padding: 5px;
	height: auto;
	margin-bottom: 200px;
}

.mostSearchedQuestion {
	background-color: #e84f5e;
	padding: 10px;
	border-radius: 5px;
	width: 400px;
	font-family: 'Open Sans', sans-serif;
	float: right;
	margin-top: 30px;
}

.mostSearchedQuestion .button {
	margin-top: 10px;
	width: 100%;
	border-color: #fff;
}

.tt-input, 
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    text-transform: capitalize;
}

.tt-input { 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { 
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { 
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.capitalizeText {
	text-transform: capitalize;
}