<!DOCTYPE html>
<html>
  <head>
    <title>LCARS // Rodrigo Andrade</title>
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/office-time/512/3-128.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
